body, html 
    padding: 0
    margin: 0
nav, footer
    padding: 10px
    text-align: center
nav
    background: #0049ff 
    text-transform: uppercase
    font-weight: bold
    color: #FFF
footer 
    background: #505050
    color: #FFF
.wrapper 
    display: flex
    height: calc(100vh - 84px)
    background: #f4f4f4
    color: lightgray
    align-items: center
    justify-content: center